body {
  background-color: #efefef;
}
.frontPage {
  height:900px;
  display: flex;
}
.dirtyDishes {
  height:750px;
  width: 1125px;
  border-radius: 15px;
}
#secondPg {
  height: 500px;
  display:flex;
  justify-content: space-around;
}
.table {
  style: overflow-x:auto;
}
button {
  color:
}
