body {
  background-color: #ece4c8;
  font-family: 'Eczar', serif;
}
.container-fluid{
  padding: 0;
}
.container, .table {
  background-color: #f0eee7 !important;

}

.container {
  box-shadow: 5px 5px 5px 3px #ccc;
}

.frontPage {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.53)), url(imgs/dirtydishes.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #efefef;
}
#secondPg {
  height: 500px;

}
.frontPage, #secondPg, #pageThree {
  font-size: 20px;
}
#pageThree {
  height: 600px;
}
button {
  background-color:black !important;
  border: black !important;
  border-radius: 5px;
  color: #efefef;
  font-size: 20px !important;
}
ul {
  list-style: none;
}
