
.container-fluid{
  padding: 0;

}

.frontPage {
  height: 950px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.53)), url(imgs/dirtydishes.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#secondPg {
  height: 500px;
  box-shadow: 3px 3px 5px  #ccc;
}
.bottomRow{
  display: inline-flex;
  justify-content: center;
}
#pageThree {
  height: 600px;
}
button {
  color:
}
